@media (min-width: 48rem) {
    .wrapper {
        min-width: 25rem;
        height: 100%;
    }
    .title {
        width: 60%;
    }
    h1 {
        font-size: 1.6rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .bayan-container {
        width: 60%;
    }
    label .line {
        font-size: 1rem;
    }
    label .line img {
    width: 2rem;
    }
    .bayan-container label {
        padding: 0.3rem 0 0.3rem 0;
    }
}

@media (min-width: 60rem) {
    .wrapper {
        min-width: 48.1rem;
        height: 100%;
    }
    .title {
        width: 50%;
    }
    h1 {
        font-size: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
    .bayan-container {
        width: 50%;
    }
    label .line {
        font-size: 1.3rem;
        color: #5D9B9B;
    }
    label .line img {
        opacity: 0;

    }
    .string:checked + label + .body {
        height: auto;
        transition: 2.5s;
        opacity: 1;
    }
    input:checked + label .line {
    color: #000;
    }
    .bayan-container label {
        padding: 0.1rem 0rem 0.1rem 0rem;
    }
    .body img {
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        width: 80%;
        margin: 0 auto;
    }
}

@media (hover: hover)  {
    .bayan-container:hover .line {
        color: #000;
      }
    .bayan-container:hover .line img {
        opacity: 1;
        transition: all 1s;
    }
    label:hover > h2 .body {
        height: auto;
        transition: all 3s;
        opacity: 1;
    }
    label:hover > h2 >.line > .item >.icon { 
        transition: 0.5s;
        transform: rotate(90deg);
    }
}